<div style="text-align: center">
  <h1>Hello Sahosoft Solutions</h1>

  <!--  
  MY City {{"Hello :"+city}}<br/>
  {{12+45}} -->

  <!-- <input type="text" id="txtid" value="Sahosoft"/> -->
  <!-- <table border="1">
    <tr>
      <td [attr.colspan]="col">Student Details</td>
      
    </tr>
    <tr>
      <td>Name</td>
      <td>Chandan Kumar</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>abc@gmail.com</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
  </table> -->
<!-- <h2>Style binding</h2> -->
  <!-- <button style="color: red;">Click me</button><br />
  <button style="color: red;" [style.font-weight]="'bold'">Click me</button><br />
  <button style="color: red;" [style.font-weight]="isbold?'bold':'normal'">Click me</button><br/>
  <button style="color: red;" [style.font-size.px]="30">Click me</button><br/>
  <button style="color: red;" [style.font-size.px]="fontsize">Click me</button><br/>-->
  <!-- <button style="color: red;" [ngStyle]="addcssStyles()">Click me</button><br />  -->

  <h2>Class binding</h2>

  <!-- <button class="colorClass">Click me</button><br/>
  <button class="colorClass" [class]="Classtoapply">Click me</button><br/>
  <button class="colorClass" [class.boldClass]="!isboldClass">Click me</button><br/> -->

  <!-- <button class="colorClass" [ngClass]="addCssClasses()">Click me</button><br/> -->
<!-- <h3>Interpolation</h3>
  <span innerHTML="{{name}}"></span>
  <h3>Property binding</h3>
  <span [innerHTML]="name"></span>
  <h3>Interpolation</h3>
  <img src="{{imgpath}}" width="200px" height="200px" />
  <h3>Property binding</h3>
  <img [src]="imgpath" width="200px" height="200px" /> -->
<!-- <button (click)="enabledisable()">Enable Disable</button><br/>
{{currentvalue}}
  <h3>Interpolation</h3>
  <button disabled="{{currentvalue}}">Click me</button>
  <h3>Property binding</h3>
  <button [disabled]="currentvalue">Click me</button> -->

  <h2>Event Binding</h2>
  <button (click)="click1()">Click 1</button><br/>
  <button on-click="click2()">Click 2</button><br/>

  <!-- <input type="text" (keyup)="keyup()" (keydown)="keydown()" /> -->
  <!-- <input type="text" (input)="input()"/> -->
  <input type="text" on-input="input()"/>

</div>